body,
html {
    margin: 0px;
    padding: 5px;
    font-size: 12px;
}

th {
    padding: 0.5em 1.2em;
    border: 0.8px solid black;
    background-color: #0064a4;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    box-sizing: border-box;
    color: white;
    text-align: left;
}

td {
    padding: 0.5em 0.5em;
    text-align: left;
    border: 0.8px solid black;
    width: 120px;
    min-width: 120px;
    max-width: 120px;
    box-sizing: border-box;
    white-space: wrap;

}

caption {
    text-align: center;
    font-size: 1.5em;
}

.bold {
    font-weight: 800;
}

.smallTdTh {
    padding-left: 0.5em;
    width: 57px;
    min-width: 57px;
    max-width: 57px;
}

.midTdTh {
    padding-left: 0.5em;
    width: 72px;
    min-width: 72px;
    max-width: 72px;
}

.courseDiv {
    margin: 1.3em 0em;
}

select, input {
    width: 230px;
    height: 30px;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0.5em;

}

form {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

button {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    width: 230px;
    height: 40px;
}
/* select::placeholder, input::placeholder {
    font-size: 20px;
} */